doctype html
html
  head
    title
      | Attendance
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /
  body
    nav
      .nav-wrapper
        a.brand-logo.center href="#!"  Logo
        ul.left.hide-on-med-and-down
          li
            a href="#"  Sass
          li
            a href="#"  Components
          li.active
            a href="#"  JavaScript
                      
    p.notice
      = notice
    p.alert
      = alert
    = yield
